.main-user-show
  .movieTitle
    = @user.nickname
    さんの投稿一覧
  .main-movie-search-box
    %h3 Youtube
    - @movies.each do |movie|
      = link_to  movie_path(movie.id), class: "content__right__top--title" do
        .figure
          = image_tag movie.image.url,size: "250x150"
          .title
            = movie.title
          .day
            = movie.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M")
          .name
            = link_to user_path(movie.user)  do
              = movie.user.nickname
.footer-movie-search
  .footer-movie-search-box
    = link_to root_path do
      %h4 トップへ戻る